.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 0px 16px 0px;
}

.input-container label {
    margin-bottom: 8px;
    font-size: 14px;
}

.input-container input {
    height: 18px;
    border-radius: 6px;
    border: 1px solid #EEEEEE;
    padding: 8px;
}

.input-container input::placeholder {
    font-size: 14px;
}

.input-container input:focus {
    outline: none;
    border: 1px solid rgb(165, 164, 164);
}