.header {
    padding: 16px; 
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    display: none;
}

@media all and (max-width: 824px) {
    .header {
        display: block;
    }
}