.header {
    padding: 20px; 
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    display: none;
    background-color: #EEEEEE;
    text-align: center;
}

@media all and (max-width: 824px) {
    .header {
    }
}