.input-container {
  margin-bottom: 10px;
}

.input-container input  {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  margin-bottom: 6px;
  accent-color: #8341aa;
}

.disabled {
  color: green;
  font-weight: bold;
}
