.side-bar {
    width: 20%;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav a {
    padding: 12px;
    color: inherit;
    text-decoration: none;
    margin: 8px;
    border-radius: 12px;
}

.nav a:hover {
    background-color: #e3d5eb;
}

.nav i {
    font-size: 16px;
    margin-right: 8px;
}

.nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav a h5 {
    margin: 0px;
    font-size: 14px;
    font-weight: 100;
}

.nav span {
    padding: 20px;
    font-weight: bold;
}

@media all and (max-width: 1024px) {
    .nav a h5 {
        font-size: 12px;
    }

    .nav i {
        font-size: 14px;
    }    
}

@media all and (max-width: 824px) {
    .side-bar {
        width: 100%;
        margin-bottom: 24px;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav i {
        margin-right: 0px;
    }

    .nav a h5 {
        display: none;
    }

    .nav span {
        display: none;
    }
}